<launch>

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find navi_demo01)/param/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find navi_demo01)/param/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find navi_demo01)/param/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find navi_demo01)/param/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find navi_demo01)/param/base_local_planner_params.yaml" command="load" />
    </node>

    <node name="map_server" pkg="map_server" type="map_server" args="$(find navi_demo01)/maps/my_world.yaml" />
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find navi_demo01)/launch/config.rviz" />
    
    <include file="$(find navi_demo01)/launch/amcl.launch" />

    <!-- 直接加载urdf模型 -->
    <param name="robot_description" command="$(cat $(find ros_uart_protocol)/urdf/nailong_model.urdf)" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find navi_demo01)/world/my_world.world" />
    </include>
    <node pkg="gazebo_ros" type="spawn_model" name="model" args="-urdf -model mycar -param robot_description"  />

    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen" />
    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" output="screen" />
</launch>